style "terminal_screen"
{
    text[NORMAL] = "#FFFFFF"
    base[NORMAL] = "#3F3F3F"

    TerminalScreen::background-darkness = 0.95
}

widget "*TerminalWindow.*.TerminalScreen*" style "terminal_screen"
